/**
 * Style and responsive.
 * @author Kyle Huang
 */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-color: ghostwhite;
    --text: 'Indie Flower';
    --title: 'Teko';
    --alt: 'Permanent Marker';
}

nav {
    background: #002b4e;
    width: 100%;
    min-height: 55px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

nav .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .menu>a {
    position: relative;
    text-decoration: none;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--text-color);
    min-width: 75px;
    width: 10vw;
    height: 55px;
    z-index: 3;
    outline: none;
    border: 0;
}

nav.menu a::selection {
    border: 0;
    outline: none;
}

nav .menu a span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #002b4e;
    font-size: 1.2rem;
    text-align: center;
}

nav .menu a span::after,
nav a span::after {
    position: absolute;
    content: '';
    min-width: 75px;
    height: 55px;
    background: transparent;
    transition: 0.1s ease-in-out;
    inset: 0;
    z-index: -1;
}

nav .menu a span:hover::before,
nav .menu a span:hover::after,
nav .menu a span:active::before,
nav .menu a span:active::after,
nav .menu a span:focus::before,
nav .menu a span:focus::after {
    inset: 0 0 3px 0;
    background: -moz-linear-gradient(-45deg, #ff0000, #9900ff);
    background: -webkit-linear-gradient(-45deg, #ff0000, #9900ff);
    background: linear-gradient(-45deg, #ff0000, #9900ff);
    height: 55px;
    overflow: hidden;
}

nav .menu a span:hover {
    color: rgb(198, 33, 248);
}

nav .menu a span:active, nav .menu a span:focus {
    outline: none;
    border: 0;
}

nav i {
    visibility: hidden;
    color: var(--text-color);
    margin-right: 15px;
    font-size: 25px;
}

.nav i::selection {
    outline: none;
    border: 0;
}

.show {
    visibility: visible;
}

.intro {
    position: relative;
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.5);
}

.intro .text>h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5vw;
    letter-spacing: 0.1em;
    font-family: var(--title) !important;
    font-weight: 100;
    left: 2.5%;
    top: 15%;
    transform: translate(-2.5%, 15%);
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
    padding-top: 100px;
}

.intro .text {
    font-family: var(--text);
    position: absolute;
    left: 52.5%;
    top: 0vw;
    transform: translate(-52.5%, 15%);
    z-index: 1;
    color: var(--text-color);
    text-shadow: #352fa5 5px 5px 10px;
    font-size: 1.8rem;
    line-height: 2rem;
    width: 100%;
    max-width: 1200px;
}

.intro .text p {
    width: 100%;
    padding: 1.4em;
}

.intro img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery {
    width: 100%;
    min-height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.gallery .img-container>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: absolute;
}

.gallery .gallery-bar {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    font-family: var(--text);
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}

.gallery .gallery-bar:hover,
.gallery .gallery-bar:active,
.gallery .gallery-bar:focus {
    background: rgba(0, 0, 0, 0.7);
}

.gallery .gallery-bar a {
    background: rgb(85, 84, 84);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.gallery .gallery-bar a:hover,
.gallery .gallery-bar a:active,
.gallery .gallery-bar a:focus {
    background: rgb(27, 27, 27);
}

.gallery .gallery-bar a>i {
    font-size: 3rem;
    color: var(--text-color);
}

.gallery .gallery-bar * {
    color: var(--text-color);
    ;
}

.gallery .gallery-bar .prev {
    float: left;
    left: 0;
}

.gallery .gallery-bar .next {
    float: right;
    right: 0;
}

.projects {
    background: #ee0979;
    background: -moz-linear-gradient(to right, #ff6a00, #ee0979);
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.projects h1 {
    color: var(--text-color);
    font-family: var(--title);
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: var(--text);
    letter-spacing: 0.2em;
    line-height: 2.2rem;
    grid-gap: 30px;
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
}

.grid-container>a>div>.fab {
    font-size: 3rem;
}

.grid-container > * {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease-in-out;
    outline: none;
    overflow: hidden;
}

.grid-container::selection {
    border: 0;
    outline: none;
}

.grid-container a .project-img img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    outline: none;
    border: 0;
    overflow: hidden;
}

.grid-container a .project-text {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    padding: 20px 25px;
}

.grid-container a .project-text h2 {
    padding-top: 15px;
    font-weight: bold;
    font-family: var(--title);
}

.grid-container a .project-text p {
    padding-top: 15px;
}

.grid-container>*:active,
.grid-container>*:hover,
.grid-container>*:focus {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.0125);
    background: linear-gradient(to right, #eb7724, #ce367f);
}

.project-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#15a1a5, #762bed);
    padding: 50px 0;
    overflow: hidden;
    flex-direction: column;
}

.project-display h1 {
    color: var(--text-color);
    font-family: var(--title);
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
    text-align: center;
}

.project-display iframe {
    border-radius: 5px;
}

.project-display .project-list-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    width: 70%;
    max-width: 700px;
}

.project-display .project-list-container select {
    text-align: center;
    padding: 7px 3.5px;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    font-size: 1rem;
    letter-spacing: 0.075rem;
}

.project-display .project-list-container button {
    padding: 7px 3.5px;
    width: 100%;
    max-width: 150px;
    max-width: 200px;
    font-size: 1rem;
    letter-spacing: 0.075rem;
}

footer {
    background: #0F2027;
    background: -moz-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    width: 100%;
    height: auto;
    padding-top: 50px;
    font-family: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer form {
    color: var(--text-color);
    background: rgb(5, 24, 56);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-area: 10px 1em;
    border: 1px solid #0F2027;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 20px 20px;
    transition: 0.3s ease-in-out;
    max-width: 1500px;
    width: 90%;
    min-height: 350px;
    padding: 15px 20px;
}

footer form h1 {
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.3) 0 0 10px;
    line-height: 1.1em;
    font-family: var(--title) !important;
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
}

footer form div {
    line-height: 1.75em;
    letter-spacing: 0.1em;
    flex: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 10px 20px;
}

footer form:active,
footer form:hover,
footer form:focus {
    box-shadow: rgba(0, 0, 0, 0.5) 10px 20px 30px;
    transform: scale(1.0125);
}

footer form .form-item1,
footer form .form-item2 {
    font-size: 1.3rem;
}

footer form .form-item1 input,
footer form .form-item2 input,
footer form .form-item2 textarea {
    font-size: 1.3rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 1px 2px;
}

footer form .form-item2 input[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: var(--alt) !important;
    letter-spacing: 0.1em;
    margin-top: 15px;
}

footer form .form-item2 input[type="submit"]:hover,
footer form .form-item2 input[type="submit"]:active,
footer form .form-item2 input[type="submit"]:focus {
    background: #2b5669;
    color: var(--text-color);
}

footer form .form-item2 #status {
    text-align: center;
}

footer .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: var(--text-color);
    padding: 40px 0;
    font-size: 2.3vh;
    display: flex;
    align-items: center;
    max-width: 2000px;
}

footer .footer-container #footer-bar {
    transform: rotate(90deg);
    min-width: 250px;
    max-width: 260px;
    width: 20vw;
    transition: 0.3s ease-in-out;
}

footer ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .contact-info {
    line-height: 2em;
}

footer .links li a {
    text-decoration: none;
    line-height: 2em;
    color: var(--text-color);
}

footer .links li a:hover,
footer .links li a:active,
footer .links li a:focus {
    color: rgb(198, 33, 248);
}

footer .links li::selection {
    border: 0;
    outline: none;
}

footer .bottom {
    background: linear-gradient(270deg, rgb(5, 24, 56), #011127);
    width: 100%;
    min-height: 50px;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: var(--alt);
    letter-spacing: 0.3rem;
    font-weight: 100;
}

@media (min-width: 768px) {
    .gallery {
        height: 645px;
        transition: all 0.3s ease-in-out;
    }

    .gallery .img-container {
        width: auto;
        height: 100%;
        background: #159957;
        background: -webkit-linear-gradient(to right, #155799, #159957);
        background: linear-gradient(to right, #155799, #159957);
        box-shadow: 0 0 20px #0e858d;
    }

    .gallery .img-container .gallery-img {
        object-fit: contain;
        padding: 25px 0 50px 0;
        box-shadow: 0 0 20px #000000;
        transition: all 0.3s ease-in-out;
    }

    .gallery:hover,
    .gallery .gallery-img:hover,
    .gallery:active,
    .gallery .gallery-img:active,
    .gallery:focus,
    .gallery .gallery-img:focus,
    .gallery .gallery-bar:hover,
    .gallery .gallery-bar:active,
    .gallery .gallery-bar:focus {
        box-shadow: 0 0 20px #0e858d;
    }

    footer .footer-container {
        font-size: 1.6rem;
    } 
}

@media (max-width: 700px) {
    nav i {
        visibility: visible;
    }

    nav .menu {
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: auto;
        top: 55px;
        background: #0f0c29;
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
        padding: 5px 5px 0 5px;
    }

    nav .menu.show {
        visibility: visible;
    }

    nav .menu a,
    nav.menu a span {
        width: 100%;
    }

    nav i {
        position: absolute;
        justify-content: flex-end;
        cursor: pointer;
        right: 0;
    }

    nav i:hover,
    nav i:active,
    nav i:focus {
        color: purple;
    }

    .intro img {
        background-image: url("images/ruvim-noga-o0R4iqk1eRQ-unsplash.jpg");
    }

    .intro .text>h1 {
        padding-top: 0;
    }

    .intro h1 {
        line-height: 1em;
    }

    .project-display .project-list-container {
        flex-direction: column;
    }

    .project-display .project-list-container select {
        margin-bottom: 1em;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer form {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer .footer-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .footer-container #footer-bar {
        transform: rotate(180deg);
        margin: 20px 0;
        width: 80%;
    }

    footer .footer-container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.9rem;
    }

    footer .bottom {
        clear: both;
        bottom: 0;
    }
}