@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --text-color: ghostwhite;
    --text: 'Indie Flower';
    --title: 'Teko';
    --alt: 'Permanent Marker';
}

nav {
    background: #002b4e;
    width: 100%;
    height: 55px;
}

nav .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .menu > a {
    position: relative;
    text-decoration: none;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--text-color);
    width: 75px;
    height: 55px;
    z-index: 3;
}

nav .menu a span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    background: #002b4e;
    font-size: 1.2rem;
    text-align: center;
}

nav .menu a span::after, nav a span::after {
    position: absolute;
    content: '';
    width: 75px;
    height: 55px;
    background: transparent;
    transition: 0.2s ease-in-out;
    inset: 0;
    z-index: -1;
}

nav .menu a span:hover::before, nav .menu a span:hover::after {
    inset: 0 0 3px 0;
    background: -webkit-linear-gradient(-45deg, #ff0000, #9900ff);
    background: linear-gradient(-45deg, #ff0000, #9900ff);
    height: 55px;
    overflow: hidden;
}

nav .menu a span:hover {
    color: rgb(198, 33, 248);
}

nav .dropdown {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -40px 20px;
}

nav .dropdown .fa-bars, nav .dropdown .fa-times {
    color: var(--text-color);
    font-size: 1.5rem;
}

nav .dropdown .fa-bars, nav .dropdown .fa-times {
    cursor: pointer;
}

nav .dropdown .fa-bars:hover, nav .dropdown .fa-bars:active,
nav .dropdown .fa-times:hover, nav .dropdown .fa-times:active
{
    color: rgb(158, 158, 158);
}

nav .dropdown #mobile-menu {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    top: 55px;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);  
}

nav #mobile-menu a {
    text-decoration: none;
    color:var(--text-color);
}

nav #mobile-menu a li {
    padding: 15px 20px;
}

.show {
    visibility: visible;
}

.intro {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

.intro .text > h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1.1em;
    letter-spacing: 0.1em;
    font-family: var(--title) !important;
    font-weight: 100;
    left: 2.5%;
    top: 15%;
    transform: translate(-2.5%, 15%);
    text-shadow: rgba(255,255,255,0.3) 0 0 10px;
}

.intro .text {
    font-family: var(--text);
    position: absolute;
    left: 52.5%;
    top: 15%;
    transform: translate(-52.5%, 15%);
    z-index: 1;
    color: var(--text-color);
    text-shadow: #352fa5 5px 5px 10px;
    font-size: 1.8rem;
    line-height: 2rem;
}

.intro img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gallery {
    width: 100%;
    height: calc(375px + 25vw);
    position: relative;
    display: flex;
    flex-direction: column;
}

.gallery .img-container > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: absolute;
}

.gallery .gallery-bar {
    background: rgb(85, 84, 84);
    bottom: 0;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
}

.gallery .gallery-bar:hover {
    opacity: 1;
}

.gallery .gallery-bar a {
    background:rgb(85, 84, 84);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.gallery .gallery-bar a:hover {
    background: rgb(27, 27, 27);
}

.gallery .gallery-bar a > i {
    font-size: 3rem;
    color: var(--text-color);
}

.gallery .gallery-bar * {
    color: var(--text-color);;
}

.gallery .gallery-bar .prev {
    left: 0;
}

.gallery .gallery-bar .next {
    right: 0;
}

.projects {
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    width: 100%;
    padding: 20px;
}

.projects h1 {
    text-align: center;
    padding-bottom: 20px;
    color: var(--text-color);
    font-family: var(--title);
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    text-shadow: rgba(255,255,255,0.3) 0 0 10px;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px 15px;
    font-family: var(--text);
    letter-spacing: 0.2em;
    line-height: 3em;
}

.grid-container > a {
    display: flex;
    flex-direction: column
}

.grid-container > a > div > .fab {
    font-size: 3rem;
}

.grid-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background:rgba(1, 51, 133, 1);
    color: var(--text-color);
    min-width: 250px;
    min-height: 250px;
    margin: 20px;
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 1);
    transition: 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.3rem;
}

.grid-container > *:active, .grid-container > *:hover {
    background:rgba(1, 51, 133, 0.7);
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.8);
}

.family-business {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#15a1a5, #762bed);
    padding: 50px 0;
    overflow: hidden;
    flex-direction: column;
}

.family-business h1 {
    margin-bottom: 25px;
    color: var(--text-color);
    font-family: var(--title);
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    text-shadow: rgba(255,255,255,0.3) 0 0 10px;
    text-align: center;
}

.family-business iframe {
    border-radius: 5px;
}

footer {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    width: 100%;
    height: auto;
    padding-top: 50px;
    font-family: var(--text);
}

footer form {
    color: var(--text-color);
    background:rgb(5, 24, 56);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-area: 10px 1em;
    padding: 20px 30px;
    margin: 0 30px 0 30px;
    border: 1px solid #0F2027;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.5) 10px 20px 20px;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: calc(800px + 10vw);
    margin: 0 auto;
}

footer form h1 {
    text-align: center;
    text-shadow: rgba(255,255,255,0.3) 0 0 10px;
    line-height: 1.3em;
    font-family: var(--title) !important;
    font-weight: 100;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
}

footer form div {
    padding: 10px 15px;
    line-height: 1.75em;
    letter-spacing: 0.1em;
    flex: 50%;
}

footer form:active, footer form:hover {
    box-shadow: rgba(0,0,0,0.5) 10px 20px 30px;
}

footer form .form-item1 input, footer form .form-item1  {
    font-size: 1.3rem;
}

footer form .form-item2  {
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
}

footer form .form-item2 textarea {
    width: 100%;
}

footer form .form-item1 input, footer form .form-item2 input {
    width: 100%;
    border: none;
    outline: none;
    padding: 1px 2px;
}

footer form .form-item2 input[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: var(--alt) !important;
    letter-spacing: 0.1em;
}

footer form .form-item2 input[type="submit"]:hover,
footer form .form-item2 input[type="submit"]:active {
    background: #2b5669;
    color: var(--text-color);
}

footer .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: var(--text-color);
    padding: 40px 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

footer .footer-container #footer-bar {
    transform: rotate(90deg);
    width: 300px;
    transition: 0.3s ease-in-out;
}

footer ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .contact-info {
    line-height: 2em;
}

footer .links li a {
    text-decoration: none;
    line-height: 2em;
    color: var(--text-color);
}

footer .links li a:hover, footer .links li a:active {
    color:rgb(198, 33, 248);
}

footer .bottom {
    background:linear-gradient(270deg, rgb(5, 24, 56), #011127);
    width: 100%;
    height: 50px;
}

@media (max-width: 700px) {
    nav .dropdown {
        visibility: visible;
    }

    nav .menu {
        visibility: hidden;
    }

    .family-business iframe {
        width: 100%;
    }

    .intro h1 {
        line-height: 1em;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer form {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer .footer-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .footer-container #footer-bar {
        transform: rotate(180deg);
        margin: 20px 0;
        width: 80%;
    }

    footer .footer-container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer .bottom {
        clear: both;
        bottom: 0;
    }
}